#clock {
	color: black;
	font-size: 80px;

	width: 500px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
    & > div {
        overflow: hidden scroll;
        width: 90px;
        height: 120px;
    }
    .clock__wrapper-slider {
        display: flex;
        flex-direction: column;
    }
}